<<<<<<< HEAD
h2 {
  font-family: Prata, sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.6vw;
  display: inline-block;
  width: 100%;
  left: 0;
  color: black;
  font-weight: 400;
  /* background-color:darkseagreen ;*/
  
  background-color : white;
  margin-top: 5%;
  padding: 10%;
  text-transform: capitalize;

=======
h2 {
  font-family: Prata, sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.6vw;
  display: inline-block;
  width: 100%;
  left: 0;
  color: black;
  font-weight: 400;
  /* background-color:darkseagreen ;*/
  
  background-color : white;
  margin-top: 5%;
  padding: 10%;
  text-transform: capitalize;

>>>>>>> 538daa541c5094da055fb843d6a1bc2e1f496f33
}