#habits {
    
    font-family: "karla", sans-serif;  
    font-size: 1.2em;
    color: black;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0;
   
}

#quotes {
    background: rgba(0,0,255,0.4);
    padding: 4%;
    margin-left: 10%;
    margin-right: 3%;
    width: 30%;
    display: block;
    float: left;
    text-decoration-line: none;
    
}

h2 {
    
}

h5 {
    font-family: "Playfair Display", sans-serif;
    color: black;
    font-size: 1.8em;
    float: left;
    display: inline-block;
    margin-left: 15%;
    margin-top: 10%;
    
    
}

p#under {
    font-family: "Merriweather", sans-serif;
    color: black;
    font-size: 0.5em;
    
    
    
}

p#definition {
    font-family: "Merriweather", sans-serif;
    color: black;
    font-size: 1.1em;
    padding: 3%;
    line-height: 2.0;
    text-align: justify;
    max-width: 40%;
    display: inline-block;
}

#date {
    font-family: "Karla", sans-serif;
    font-size: 65%;
    text-transform: capitalize;
}