
#wrapper {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin: 0px;
}
    

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 150%;
    letter-spacing: 3px;
    color: white;
    text-rendering: optimizeLegibility;
    /*
    margin-bottom: 8%;
    margin-top: 10%; */
   
    }
 
h4 {
    
    font-family: "karla", sans-serif;
    font-weight: 300;
  	font-size: 120%;
    width: 80%;
    padding: 3%;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    text-rendering: optimizeLegibility;
}

/*mobile phones/tablets */
@media only screen and (max-width: 768px) {
   

    
    #box {
        min-width: 70%;
    }
    
     

}
    
body {
    /*
    background-image: url("images/tree.jpg");
    background-color: white;
    animation: colorchange 30s infinite;  /* animation-name followed by duration in seconds
          you could also use milliseconds (ms) or something like 2.5s */ 
    -webkit-animation: colorchange 30s infinite; /* Chrome and Safari */
    display:inherit;
  	align-items: center;
  	justify-content: center;
	 -webkit-font-smoothing: antialiased;
    background-blend-mode: hard-light;
  	background-size: cover;
  	background-position: center;
    background: linear-gradient(to bottom right, pink, seagreen);
    
    

    }


#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


#box {
    background: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    vertical-align: middle;
}
/*
.logo {
    -webkit-filter: drop-shadow(10px 10px 8px rgba(0,0,0,0.9));
    filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.9));  
    padding-top: 10%;
    
    }
/*
75% {
  
  margin-left: 0%;
  width: 100%;
}


body {
    
    animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  75% {
    font-size: 300%;
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
    @keyframes colorchange
    {
      0%   {background-color:  red;}
      25%  {background-color: #FF7A5C;}
      50%  {background-color: lightblue;}
      75%  {background-color: #FF7A5C;}
      100% {background-color: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background-color:  red;}
      25%  {background-color: red;}
      50%  {background-color: lightblue;}
      75%  {background-color: #FF7A5C;}
      100% {background-color: #FF7A5C;}
    }
}

footer {
    
}
/*

img.logo:hover {
    
  filter:opacity(0.6);
  
}

*/



