

@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Raleway|Goudy+Bookletter+1911|Abril+Fatface|Yanone+Kaffeesatz|Hammersmith+One|Lato|PT+Sans+Narrow|Open+Sans+Condensed|Old+Standard+TT|Merriweather|Montserrat|Roboto|Titillium+Web|Karla|Oswald|Glegoo|Courgette|Abel|Sniglet|PT+Sans|PT+Serif|PT+Mono';

#wrapper {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    margin: 0px;
}
    
.logo {
        -webkit-filter: drop-shadow(10px 10px 8px rgba(0,0,0,0.9));
    filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.9));
    text-align: center;
    }

h1 {
    
    text-align: center;
    font-family: "Pt Sans Narrow";
    font-size:2.4em;
    vertical-align: middle;
    z-index: 1;
    color: black;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}
 
h4 {
    
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: .4rem;
    outline: none; 
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    color: black;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 40%;
        height: auto;
        margin-bottom: 0%;
        min-width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-filter: drop-shadow(15px 15px 8px rgba(0,0,0,0.9));
        filter: drop-shadow(15px 15px 7px rgba(0,0,0,0.9));
    }

}
    
body {
        background-image: url("images/rsz_joe-cooke-72649.jpg");
        animation: colorchange 20s infinite;  /* animation-name followed by duration in seconds
          you could also use milliseconds (ms) or something like 2.5s */
       -webkit-animation: colorchange 20s infinite; /* Chrome and Safari */
        display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	-webkit-font-smoothing: antialiased;
	background-blend-mode:soft-light;
	background-size: cover;
	background-position: center;
    
    }

    @keyframes colorchange
    {
      0%   {background-color: #EC504F;}
      25%  {background-color: lightblue;}
      50%  {background-color:bisque;}
      75%  {background-color: lightgreen;}
      100% {background-color:  #EC504F;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
        0%   {background-color: #EC504F;}
      25%  {background-color: lightblue;}
      50%  {background-color:bisque;}
      75%  {background-color: lightgreen;}
      100% {background-color:  #EC504F;}
    }
    

}


img.logo:hover {
    
filter:opacity(0.6);
  
}

footer {
    
    position: absolute;
    right: 0;
    left: 0;
    margin: 8em -8px 0px -8px;
    text-align: center;
    
 }

img.icons {
    
      height:auto;
      width: 1.5em;
      margin: 0px 0px 0px 0px;
      display: inline-block;
      text-align: center;
 }




